@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lexend Deca, sans-serif;
  background-color: black;
}
/*principal*/
.principal {
  display: flex;
  max-width: 768px;
  min-width: 320px;
}
/*columnas*/
.columna:first-of-type {
  border-radius: 1rem 0rem 0rem 1rem;
  -webkit-border-radius: 1rem 0rem 0rem 1rem;
  -moz-border-radius: 1rem 0rem 0rem 1rem;
  -ms-border-radius: 1rem 0rem 0rem 1rem;
  -o-border-radius: 1rem 0rem 0rem 1rem;
}
.columna:last-of-type {
  border-radius: 0rem 1rem 1rem 0rem;
  -webkit-border-radius: 0rem 1rem 1rem 0rem;
  -moz-border-radius: 0rem 1rem 1rem 0rem;
  -ms-border-radius: 0rem 1rem 1rem 0rem;
  -o-border-radius: 0rem 1rem 1rem 0rem;
}
.columna {
  color: #fff;
  width:25%;
  overflow:hidden;
  padding: 2rem;
  transition:width .3s ease-in-out;
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -ms-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.columna.activa{
    width:50%;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.titulo {
  font-family: big shoulders Display, cursive;
  text-transform: uppercase;
}
.texto {
  font-size: 14px;
  margin-bottom: 4rem;
  flex-grow: 1 ;
}
.enlace {
  font-size: 12px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.sedans .enlace {
  color: hsl(31, 77%, 52%);
}
.suvs .enlace {
  color: hsl(184, 100%, 22%);
}
.luxury .enlace {
  color: hsl(179, 100%, 13%);
}
